<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>expoapp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8020CF6595FD4B07A40A36C305D89604322915B0</string>
				<key>dateExpires</key>
				<string>2025/1/10</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8020CF6595FD4B07A40A36C305D89604322915B0</string>
						<key>dateExpires</key>
						<string>2025/1/10</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PS2C43R353</string>
						<key>name</key>
						<string>zhanghua ma</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PS2C43R353.com.mazhanghua.app</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>PS2C43R353</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>expoapp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5fabd457-513c-40c6-92da-0aebd1da3b3e</string>
				<key>dateExpires</key>
				<string>2025/1/15</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.mazhanghua.app</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PS2C43R353</string>
				<key>name</key>
				<string>zhanghua ma</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.1</string>
		</dict>
	</array>
</dict>
</plist>
